@import '@/styles/variable.scss';

.modalOverlay {
  @include overlay;
  z-index: $modal-zIndex;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #4f527e;
  border-radius: 12px;
  color: #fff;
  z-index: $modal-zIndex;
}

.modal.common {
  width: 454px;
  padding: 30px;
  // text-align: center;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  box-shadow: 2px 2px 30px 0 #00021d;
  border: solid 1px #2063bb;
  background-image: linear-gradient(146deg, #082c5c 7%, #000 79%);
  @include mobile {
    width: 325px;
  }
  &.warning {
    border: solid 1px #673433;
    background-image: linear-gradient(138deg, #3e0101 12%, #000 71%);
  }
}

.modal.blur {
  padding: 40px 30px;
  backdrop-filter: blur(16px);
  box-shadow: 2px 2px 30px 0 #00021d;
}

.modal.config {
  width: 500px;
  padding: 30px;
  background-color: #131429;
}

.closeBtn {
  @include flex;
  width: 18px;
  height: 18px;
}
.closeBtn::before,
.closeBtn::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
}
.closeBtn::before {
  transform: rotate(45deg);
}
.closeBtn::after {
  transform: rotate(-45deg);
}
