@import '@/styles/variable.scss';

.wrapper {
  @include flex;
  @include col;
  @include fs;
  padding: 120px;
  padding-bottom: 0;

  @include desktop {
    height: 100vh;
  }

  @include mobileLayout {
    padding: 120px 60px;
  }
}

.titleWrap {
  @include flex;
  @include col;
  .title {
    font-size: 3em;
    background: linear-gradient(90deg, #6b88ff, #f44ef6);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;    
  }
}

.descWrap {
  @include flex;
  @include sb;
  margin-top: 2vh;
  column-gap: 20px;
  .desc {
    @include flex;
    @include fs;
    column-gap: 10px;
  }  
}